@model CoreReleaseAutomation.Models.Release

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HomeViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathDestiny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathDestiny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExecutionLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExecutionLog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTracker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTracker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dt_modify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dt_modify)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_modify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_modify)
        </dd>
    </dl>
</div>
<div> 
    <a asp-action="Index">Back to List</a>
</div>
